<div class="navbar-abg">

    <!-- Logo -->
    <%= link_to root_path, class: "navbar-abg-brand" do %>
      <%= image_tag "Logo.png", class: "navbar-abg-submark" %>
    <% end %>

    <!-- Right Navigation -->
    <div class="navbar-abg-right hidden-xs hidden-sm">
        <h5><%= link_to "About Us", about_us_path, class: "about-link" %></h5>
        <h5><%= link_to "Contact", contact_path, class: "contact-link" %></h5>
        <!-- <div class="navbar-sm">
          <%# link_to "https://www.instagram.com", target: "_blank" do %>
            <i class="fa fa-instagram"></i>
          <%# end %>
          <%# link_to "https://twitter.com", target: "_blank" do %>
            <i class="fa fa-twitter"></i>
          <%# end %>
          <%# link_to "https://www.linkedin.com/in", target: "_blank" do %>
            <i class="fa fa-linkedin"></i>
          <%# end %>
        </div> -->
    </div>

    <!-- Dropdown list appearing on mobile only -->
    <div class="navbar-abg-item hidden-md hidden-lg">
    <!-- Social Media mobile only -->
      <!-- <div class="navbar-sm-mob">
        <%= link_to "https://www.instagram.com", target: "_blank" do %>
          <i class="fa fa-instagram"></i>
        <% end %>
        <%= link_to "https://twitter.com", target: "_blank" do %>
          <i class="fa fa-twitter"></i>
        <% end %>
        <%= link_to "https://www.linkedin.com/", target: "_blank" do %>
          <i class="fa fa-linkedin"></i>
        <% end %>
      </div> -->
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle toggle-yellow" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-abg-dropdown-menu">
          <li><%= link_to "About Us", about_us_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
        </ul>
      </div>
    </div>
  </div>
