<%= render 'shared/navbar' %>
<div class="about-banner">
	<div class="about-wrapper">
		<%= image_tag "about_us_strip.png", class: "about-strip hidden-md hidden-sm hidden-xs" %>
		<%= image_tag "about_us_strip_small.png", class: "about-strip hidden-xl hidden-lg hidden-xs" %>
		<%= image_tag "about_us_strip_v_small.png", class: "about-strip hidden-xl hidden-lg hidden-md hidden-sm" %>
		<div class="about-content">
			<h4><strong>Aschenbrenner Group is an international private real estate and investment company founded by Klaus Aschenbrenner.</strong><br></br>
			We strive for excellence in all we do and this is reflected in the long relationships we have with our clients. We are focussed on real estate and investment opportunities around Europe and
 -			the rest of the world
			We are focussed on real estate and investment opportunities around Europe and the world, all benefitting from our experience, expertise and broad range of resources. <br></br>
			We tend to invest in areas in which we have deep experience: real estate and investment.
			Our mission is simple: <br></br><span>Our Clients are in the heart of our values.</span></h4>
	  </div>
    <div class="circles">
	  	<div class="about-us-circle-1">
	  		<%= image_tag "about_us_circle1.png", class: "circle1" %>
	  		<p><%= image_tag "real_estate.png", class: "real-estate-title" %>Aschenbrenner Group operates globally and invests locally, in Europe and around the world.</p>
	  	</div>
	  	<div class="about-us-circle-2">
	  		<%= image_tag "about_us_circle2.png", class: "circle2" %>
	  		<p><%= image_tag "investment.png", class: "investment-title" %>With a strong knowledge of the market and experience of the economic cycles of the past 30 years, we invest with the right vision in the international real estate markets.</p>
	  	</div>
    </div>
	</div>
</div>
