<%= render 'shared/landing_navbar' %>
<div class="banner wrapper">
	<div class="banner-content hidden-md hidden-sm hidden-xs">
		<%= image_tag "Aschenbrenner_logo_main.png", class: "landing-logo" %>
	    <%= image_tag "Aschenbrenner_strapline.png", class: "landing-strapline" %>
  	</div>
  	<div class="banner-content hidden-xl hidden-lg">
		<%= image_tag "Aschenbrenner_logo_main_small.png", class: "landing-logo" %>
	    <%= image_tag "Aschenbrenner_strapline.png", class: "landing-strapline" %>
  	</div>
  	<div class="faded-logo fadeIn hidden hidden-xs hidden-sm">
    <%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1504597182/Asset_9_1_aof9tg.png" %>
  	</div>
	<div class="home-strip fadeIn hidden hidden-sm hidden-xs text-center">
		<h4 class="hidden">Real Estate & Investment</h4>
	</div>
</div>

